canvas{
    background-color: black;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('img/AI_Img/bg5.png');
    background-position: center;
    background-size: cover;
}

h1{
    color: white;
}